body {
  background-color: lightgrey;
}
.main-wrapper {
  max-width: 960px;
  margin: 0 auto;
}
header {
  padding: 10px 20px;
  position: relative;
}

.header-img {
  width: 100%;
}

.feeds-wrapper {
  display: flex;
  flex-flow: row;
  padding-top: 15px;

  .feed {
    flex: 1;
    padding: 15px;
    height: 250px;
  }
}

.latest-news {
  flex: 1;
  min-width: 0;
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.tabs-and-photos-container {
  display: flex;
  flex-flow: row;
}

.tabs-wrapper {
  flex: 3;
}

.photo-side-column {
  flex: 1;
  padding: 10px;

  img {
    width: 100%;
    margin-bottom: 10px;
  }
  img:last-child {
    margin-bottom: 0px;
  }
}

footer {
  text-align: center;
  padding: 20px;
}

.hide {
  display: none;
}

.main-logo {
  width: 50%;
  margin: 0;
}

.social-media {
  display: inline;
  font-size: 25px;
  position: absolute;
  top: 30px;
  right: 10px;
  width:10%;
}
