body {
  background-color: lightgrey;
}
.main-wrapper {
  max-width: 960px;
  margin: 0 auto;
}
header {
  padding: 10px 20px;
  position: relative;
}

.feeds-wrapper {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  padding-top: 15px;

  .feed {
    flex: 1;
    padding: 15px;
    min-width: 250px;
    height: 300px;
  }
}

.latest-news {
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.tabs-and-photos-container {
  display: flex;
  flex-flow: row;
}

.tabs-wrapper {
  flex: 3;
}

.tabs-menu {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.tabs {
  flex: 1;
}


.photo-side-column {
  flex: 1;
  padding: 20px;
}

footer {
  text-align: center;
  padding: 20px;
}

.hide {
  display: none;
}

.main-logo img{
  width: 30%;
  margin: 0;
}

.social-media {
  display: inline-block;
  font-size: 1.5em;
  position: absolute;
  top: 30%;
  right: 10px;
}
