$primaryColor: #212121;
$headerColor: #8E0326;
$footerColor: #475051;
$white: #ffffff;
$gray: #eee;
$mainFont: 'Libre Baskerville', serif;
$secondaryFont: 'Quattrocento', serif;

body {
  background-color: $primaryColor;
  color: $primaryColor;
}

p {
  font-family: $secondaryFont;
}

h1, h2, h3, h4, h5 {
  font-family: $mainFont;
}

h3, i.active {
  color: $headerColor;
}

header {
  background-color: $headerColor;
}

.header-img {
  height: 500px;
  margin: 20px 10px 0 10px;
  overflow: hidden;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

#dailySpecialImg {
  height: 40%;
  border-radius: 5px;
  margin-right: 10px;
  margin: 0 auto;
  display: block;
}

footer {
  background-color: $footerColor;
  color: $gray;
}

.todays-special {
  // margin: 0 20px;
  p {
    margin: 0;
  }
}

.feed {
  background-color: $gray;
  margin-bottom: 20px;
  overflow: hidden;
  margin: 10px;
}

.feed p {
  font-size: 14px;
}

.feed h3 {
  margin: 5px 0;
}

.todays-special {
  .food-icon-wrapper {
    display: none;
  }
}

#map {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 160px;
  border: solid 1px $footerColor;
  overflow: hidden;
}

.our-location p {
  text-align: center;
}

.tabs-and-photos-container {
  margin: 10px 10px 0 10px;
}
.tabs {
  background-color: $headerColor;
  border: solid 2px $headerColor;
  color: white;
  margin-bottom: 5px;
  padding: 10px 20px;
  transition: all .3s;
  margin: 2px;
  &:hover {
    background-color: rgb(225, 135, 160);
    color: $headerColor;
    border-color: $headerColor;
  }
  &.active {
    background-color: white;
    color: $headerColor;
  }
}

.tabcontent {
  form {
    margin-top: 20px;

    input, textarea {
      margin-bottom: 20px;
    }

    button {
      float: right;
    }
  }
}

.shop-item {
  width: 44%;
  margin: 20px;
}

.tabs-wrapper {
  background-color: $gray;
  color: $primaryColor;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px;
}

#story img {
  width: 100%;
}

.photo-side-column {
  background-color: $headerColor;
  margin-bottom: 20px;
  overflow: hidden;
  padding-bottom: 111px;
  position: relative;
  h3 {
    color: white;
  }
  img {
    width: 100%;
    padding-bottom: 10px;
  }
}

.gradient-div {
  background: -webkit-linear-gradient(rgba(252,136,136,0) 0%, rgba(142,3,38,1) 60%);
  background: -o-linear-gradient(rgba(252,136,136,0) 0%, rgba(142,3,38,1) 60%);
  background: linear-gradient(rgba(252,136,136,0) 0%, rgba(142,3,38,1) 60%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fc8888', endColorstr='#f93131',GradientType=0 );
  bottom:0;
  height:100px;
  left:0;
  position: absolute;
  width: 100%;
}

.social-media {
  color: $gray;
}
