body {
  background-color: $primaryColor;
  color: $primaryColor;
}

p {
  font-family: $secondaryFont;
}

h1, h2, h3, h4, h5 {
  font-family: $mainFont;
}

h3, i.active {
  color: $headerColor;
}

a {
  color: $headerColor;
  font-weight: bold;
}

header {
  background-color: $headerColor;
  transition: all 0.5s;
}

.main-logo img:hover {
  filter: drop-shadow(0 0 4px white)
}

.header-img {
  height: 500px;
  margin: 20px 10px 0 10px;
  overflow: hidden;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.daily-special-photo {
  height: 40%;
  border-radius: 5px;
  margin-right: 10px;
  margin: 0 auto;
  display: block;
}

.todays-special {
  // margin: 0 20px;
  p {
    margin: 0;
  }
}

.feed {
  background-color: $gray;
  margin-bottom: 20px;
  overflow: hidden;
  margin: 10px;
}

.feed p {
  font-size: 14px;
}

.feed h3 {
  margin: 5px 0;
}

.todays-special {
  .food-icon-wrapper {
    display: none;
  }
}

.our-location .map-div {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 160px;
  border: solid 1px $footerColor;
  overflow: hidden;
}

.our-location p {
  text-align: center;
}

.tabs {
  background-color: $headerColor;
  border: solid 2px $headerColor;
  color: white;
  margin-bottom: 5px;
  padding: 10px 20px;
  transition: all .3s;
  margin: 2px;
  &:hover {
    background-color: rgb(225, 135, 160);
    color: $headerColor;
    border-color: $headerColor;
  }
  &.active {
    background-color: white;
    color: $headerColor;
  }
}

.tabcontent {
  form {
    margin-top: 20px;
    margin-right: 10px;
    textarea {
      width: 100%;
    }
    input {
      margin-bottom: 20px;
      width: 100%;
    }
  }
}

.btn-wrapper {
  text-align: right;

  button {
    display: inline-block;
  }
}

.shop-item {
  width: 44%;
  margin: 20px;
}

.tabs-wrapper {
  background-color: $gray;
  color: $primaryColor;
  margin: 10px;
  padding: 20px;
}

.story-photo {
  width: 100%;
}

.photo-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pic-main-col {
  border: solid 1px black;
  flex-grow: 1;
  height: 550px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.pic-inner-col {
  border: solid 1px red;
  width: 100%;
}

.pic-row {
  border: solid 1px green;
  width: 100%;
}

.flex1 {
  flex:1
}
.flex2 {
  flex:2
}
.flex3 {
  flex:3
}
.gradient-div {
  background: -webkit-linear-gradient(rgba(252,136,136,0) 0%, rgba(142,3,38,1) 60%);
  background: -o-linear-gradient(rgba(252,136,136,0) 0%, rgba(142,3,38,1) 60%);
  background: linear-gradient(rgba(252,136,136,0) 0%, rgba(142,3,38,1) 60%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00fc8888', endColorstr='#f93131',GradientType=0 );
  bottom:0;
  height:100px;
  left:0;
  position: absolute;
  width: 100%;
  display: none;
}

.social-media {
  color: $gray;
  margin-right: 10px;

}

.social-media i {
  transition: all .3s;
}

.social-media i:hover {
  transition: all 1;
  color: $primaryColor;
}


.news-section a {
  color: $headerColor;
}

.feed .news-title {
  font-size: 16px;
  font-weight: bold;
}

.shop-tab a {
  color:$headerColor;
}

.shop-tab button {
  color:$headerColor;
}

footer {
  background-color: $footerColor;
  color: $gray;
}
