#menu {
  padding: 20px;

  h3 {
    margin-bottom: 5px;
  }
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
    display: inline-block;
  }
  .food-wrapper {
    padding: 20px;
  }
  .price {
    float: right;
  }
}

.food-icon-wrapper {
  border: solid 1px black;
  display: inline-block;
  text-align: center;

  i {
    margin: 10px;
  }
  .active {

  }
  .inactive {

  }

}
