/* For tablets: */
@media only screen and (max-width: 768px) {
  .main-logo img{
    width: 40%;
  }
  .header-img {
    height: 50vw;
  }
  .latest-news, .todays-special {
  }

  .our-location {

  }
  .photo-side-column {
    display: none;
  }

  .tabs-wrapper {
    margin-right: 0;
  }
}

/* For mobile phones: */
@media only screen and (max-width: 480px) {
  .main-logo img {
    width: 60%;
  }
  .header-img {
    height: 60vw;
  }
  .social-media {
    font-size: 1em;
  }

  .feeds-wrapper {
    flex-direction: column;
    .feed {
      margin: 10px;
    }
  }

}
